{% extends "phonereviewsapp/base.html" %}


{% block header %}
    <div id="header_buttons">
        <a id="header_button" href="/phonereviews/">Home</a>
        <a id="header_button" href="/phonereviews/">Phone List</a>
    </div>
    <div id="header_user">
      {% if user.username %}
          <a id="header_user_font">User: {{ user.username }}</a>
          <a id="header_button" href="{% url 'logout' %}">logout</a>

      {% else %}
          <a id="header_button" href="/accounts/login/">Log in</a>
          <a id="header_button" href="/signup/">Sign up</a>

      {% endif %}
    </div>
  {% endblock %}


{% block content %}

    <form id="form_box"  method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}

        <table id="form_table">
           {{ form.as_table }}
        </table>
        <input type="submit" value="Submit"/>
    </form>

{% endblock %}